# Supabase Configuration
VITE_SUPABASE_URL=https://eniyzfvoblpxndneivvd.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_CPbHmq7eViOqCqU7dr-hMQ_fNBCyAIX

# App Configuration
VITE_APP_NAME=Distribuidora Jireh
VITE_DEBUG_MODE=false
